Repository yeeezsh/CPE-KMUTT-Web, pull requests merged in 2020-11, with the labels that each got.

#4 Add storybook stage on CI
  .github/workflows/frontend-ci.yml
  frontend/.gitignore
Labels: frontend

#6 Fix Storybook
  frontend/.storybook/main.js
  frontend/package.json
  frontend/yarn.lock
Labels: frontend

#1 [CKW-5] Setup Back-end project
  .dockerignore
  .github/workflows/backend-ci.yml
  .gitignore
  backend/.dockerignore
  backend/.eslintignore
  backend/.eslintrc.js
  backend/.gitattributes
  backend/.gitignore
  backend/.prettierrc
  backend/.prettierrc.js
  backend/.vscode/settings.json
  backend/Dockerfile
  backend/LICENSE
  backend/README.md
  backend/nest-cli.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/config/config.enum.ts
  backend/src/config/config.interface.ts
  backend/src/config/config.module.ts
  backend/src/config/config.provider.ts
  backend/src/config/config.type.ts
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.build.json
  backend/tsconfig.json
  backend/yarn.lock
  docker-compose.dev.yml
Labels: backend, dependency change, in progress

#3 [CKW-7] Home Layout Component
  frontend/package-lock.json
  frontend/src/common/components/Button/index.stories.tsx
  frontend/src/common/components/Button/index.tsx
  frontend/src/common/components/Button/styled.ts
  frontend/src/common/components/Button/types.ts
  frontend/src/common/components/Container/index.stories.tsx
  frontend/src/common/components/Container/index.tsx
  frontend/src/common/components/Container/styled.ts
  frontend/src/common/components/Container/types.ts
  frontend/src/common/constants/breakpoints.ts
  frontend/src/common/constants/colors.ts
  frontend/src/modules/root/page/Home/index.tsx
  frontend/src/modules/root/page/Home/styled.ts
  frontend/tsconfig.json
Labels: frontend, in progress, ready to review

#9 [CKW-11] Database Module
  backend/.vscode/settings.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/@types/config.enum.ts
  backend/src/config/@types/config.interface.ts
  backend/src/config/@types/config.type.ts
  backend/src/config/config.constant.ts
  backend/src/config/config.provider.ts
  backend/src/database/constants/database.constant.ts
  backend/src/database/database.module.ts
  backend/src/database/database.provider.ts
  backend/src/main.ts
  backend/src/utils/database.factory.ts
  backend/test/app.e2e-spec.ts
  backend/yarn.lock
  docker-compose.dev.yml
Labels: backend, ready to review
