Repository yeeezsh/CPE-KMUTT-Web, pull requests merged in 2021-01, with the labels that each got.

#14 feat: Add global style
  frontend/src/modules/root/page/App/index.tsx
  frontend/src/modules/root/page/App/styled.ts
Labels: frontend, ready to review

#7 [CKW-8] Home Page
  frontend/package-lock.json
  frontend/public/Logo.svg
  frontend/src/common/components/Container/index.tsx
  frontend/src/common/components/Container/styled.ts
  frontend/src/modules/root/page/Home/index.tsx
  frontend/src/modules/root/page/Home/styled.ts
Labels: frontend, ready to review

#11 [CKW-14] Upload File System
  backend/.eslintrc.js
  backend/package.json
  backend/src/app.module.ts
  backend/src/common/Exception/file-error.exception.ts
  backend/src/file/@dtos/file.create.dto.ts
  backend/src/file/@dtos/file.info.dto.ts
  backend/src/file/@interfaces/file.create.interface.ts
  backend/src/file/@interfaces/file.request.interface.ts
  backend/src/file/file.config.ts
  backend/src/file/file.controller.spec.ts
  backend/src/file/file.controller.ts
  backend/src/file/file.module.ts
  backend/src/file/file.service.spec.ts
  backend/src/file/file.service.ts
  backend/test/app.e2e-spec.ts
  backend/test/data/bear.jpeg
  backend/test/data/brown-bear.png
  backend/test/data/test.pdf
  backend/test/file.e2e-spec.ts
  backend/yarn.lock
Labels: approved, backend, in progress, ready to review

#16 Graphql setup
  backend/package.json
  backend/schema.gql
  backend/src/app.module.ts
  backend/src/app.resolver.ts
  backend/test/app-graphql.e2e-spec.ts
  backend/yarn.lock
Labels: approved, backend, ready to review
