Repository yeeezsh/CPE-KMUTT-Web, pull requests merged in 2022-04, with the labels that each got.

#50 Connect to Content API
  .github/workflows/frontend-ci.yml
  frontend/codegen.yml
  frontend/jest.setup.ts
  frontend/src/common/components/Card/index.stories.tsx
  frontend/src/common/components/Card/index.tsx
  frontend/src/common/components/Card/types.ts
  frontend/src/common/components/Layouts/CommonLayout/styled.ts
  frontend/src/common/constants.ts
  frontend/src/common/generated/generated-types.ts
  frontend/src/common/services/client.ts
  frontend/src/common/services/operation.graphql
  frontend/src/common/stores/index.ts
  frontend/src/common/types/pagination.ts
  frontend/src/common/utils/join.ts
  frontend/src/modules/home/components/WhatNewSection/index.tsx
  frontend/src/modules/home/page/Home/index.tsx
  frontend/src/modules/home/page/Home/styled.ts
  frontend/src/modules/news/components/BrowseNews/index.spec.tsx
  frontend/src/modules/news/components/BrowseNews/index.tsx
  frontend/src/modules/news/components/BrowseNews/types.ts
  frontend/src/modules/news/components/BrowseNews/useLoadMore.spec.ts
  frontend/src/modules/news/components/BrowseNews/useLoadMore.ts
  frontend/src/modules/news/constants.ts
  frontend/src/modules/news/page/BrowseNewsPage/index.tsx
  frontend/src/modules/news/reducers/index.ts
  frontend/src/modules/news/reducers/types.ts
  frontend/src/modules/news/services/load-news.operation.graphql
  frontend/src/modules/news/utils/newsMapper.spec.ts
  frontend/src/modules/news/utils/newsMapper.ts
  frontend/src/modules/root/components/Navbar/styled.ts
  frontend/src/modules/root/pages/App/index.tsx
  frontend/src/pages/news.tsx
  strapi/api/content/models/content.settings.json
  strapi/config/server.js
  strapi/package-lock.json
  strapi/package.json
Labels: in progress

#36 [CKW-34] News Content Page
  frontend/public/images/thumbnail2.png
  frontend/src/common/components/Layouts/CommonLayout/index.tsx
  frontend/src/modules/news/components/NewsContent/constant.ts
  frontend/src/modules/news/components/NewsContent/index.spec.tsx
  frontend/src/modules/news/components/NewsContent/index.stories.tsx
  frontend/src/modules/news/components/NewsContent/index.tsx
  frontend/src/modules/news/components/NewsContent/styled.ts
  frontend/src/modules/news/components/NewsContent/types.ts
  frontend/src/modules/news/page/NewsContentPage/index.spec.tsx
  frontend/src/modules/news/page/NewsContentPage/index.tsx
  frontend/src/modules/news/page/NewsContentPage/styled.ts
  frontend/src/pages/news.tsx
  frontend/src/pages/news/[id].tsx
  strapi/package-lock.json
Labels: in progress, frontend

#59 [CKW-47] Badge Contact List Component
  frontend/public/assets/FACEBOOK-ICON.svg
  frontend/public/assets/MESSENGER-ICON.svg
  frontend/src/modules/contact/components/BadgeContactSection/index.spec.tsx
  frontend/src/modules/contact/components/BadgeContactSection/index.stories.tsx
  frontend/src/modules/contact/components/BadgeContactSection/index.tsx
  frontend/src/modules/contact/components/BadgeContactSection/styled.ts
Labels: ready to review, frontend

#61 [CKW-51] Change Badge Contact List storybook path
  frontend/src/modules/contact/components/BadgeContactSection/index.stories.tsx
Labels: ready to review, frontend
